@model UserTask

<h1>Create a new Task</h1>
<form method="post">
    <input type="text" name="Description"/>
    <input type="date" name="DueDate"/>
    <input type="checkbox" name="IsComplete"/> 
    <input type="submit" value="Create"/>
</form>